@model server_web_lab4.Models.DepartmentProduct

@{
    ViewBag.Title = "Деталі товару";
}

<div class="container mt-4">
    <h2 class="mb-4">Деталі товару</h2>

    <dl class="row">
        <dt class="col-sm-3">Назва товару</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.NAME_RES)</dd>

        <dt class="col-sm-3">Ціна</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.PRICE_RES)</dd>

        <dt class="col-sm-3">Термін зберігання (днів)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.TERM_RES)</dd>

        <dt class="col-sm-3">Відділ</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.StoreDepartment.NAME)</dd>
    </dl>

    <div class="mt-4">
        @Html.ActionLink("Редагувати", "Edit", new { id = Model.ID_RES }, new { @class = "btn btn-primary me-2" })
        @Html.ActionLink("Повернутись до списку", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
