@model server_web_lab4.Models.DepartmentProduct

@{
    ViewBag.Title = "Редагування товару";
}

<div class="container mt-4">
    <h2 class="mb-4">Редагування товару</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
        @Html.HiddenFor(model => model.ID_RES)

        <div class="mb-3">
            @Html.LabelFor(model => model.NAME_RES, "Назва товару", new { @class = "form-label" })
            @Html.EditorFor(model => model.NAME_RES, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAME_RES, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.PRICE_RES, "Ціна", new { @class = "form-label" })
            @Html.EditorFor(model => model.PRICE_RES, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PRICE_RES, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.TERM_RES, "Термін зберігання (днів)", new { @class = "form-label" })
            @Html.EditorFor(model => model.TERM_RES, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TERM_RES, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.DepartmentID, "Відділ", new { @class = "form-label" })
            @Html.DropDownList("DepartmentID", null, "-- Оберіть відділ --", new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.DepartmentID, "", new { @class = "text-danger" })
        </div>

        <button type="submit" class="btn btn-primary">Зберегти</button>
        @Html.ActionLink("Повернутись до списку", "Index", null, new { @class = "btn btn-secondary ms-2" })
    }
</div>
